<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HelloWord</servlet-name>
        <servlet-class>utn.frc.dlc.web.HelloWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>utn.frc.dlc.web.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlUsuario</servlet-name>
        <servlet-class>utn.frc.dlc.web.CtrlUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlAmigo</servlet-name>
        <servlet-class>utn.frc.dlc.web.CtrlAmigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlFoto</servlet-name>
        <servlet-class>utn.frc.dlc.web.CtrlFoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlComentario</servlet-name>
        <servlet-class>utn.frc.dlc.web.CtrlComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWord</servlet-name>
        <url-pattern>/HelloWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlUsuario</servlet-name>
        <url-pattern>/CtrlUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlAmigo</servlet-name>
        <url-pattern>/CtrlAmigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlFoto</servlet-name>
        <url-pattern>/CtrlFoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlComentario</servlet-name>
        <url-pattern>/CtrlComentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>usuarios.html</welcome-file>
    </welcome-file-list>
</web-app>
